<!-- start custom comments snippet -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  // id: '31147945', // 可选。默认为 location.href
  owner: 'dingkeyan93',
  repo: 'dingkeyan93.github.io',
  oauth: {
    client_id: '87ae057b6253e281afb2',
    client_secret: '681a47fa6049e9e28acb21dbe124e3f0b65bec7e',
  },
});
gitment.render('container');
</script>
<!-- end custom comments snippet -->